* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
    background-color: #e3e8ff;
  }

/* Multiple use classes */

.section-title {
  letter-spacing: 2px;
  display: flex;
  font-style: initial;
  font-size: 5vw;
  float: left;
  width: 22vw;
  display: block;
  text-align: right;
  padding-right: 2%;
  color: #3f5277;
  }

.primary-border {
  border-right: 5px solid #3f5277;
  height: 100%;
  }

.section {
  padding: 2.5%;
}

body {
  margin: 0;
}


      



/* Header and nav styles */

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #121b2c;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;
}

header h1 {
  font-style: bold;
  font-weight: lighter;
  font-size: 55px;
  background-color: #5fb8b8;
  padding-top: 5px;
  padding-right: 10px;
}

header a {
  margin: 0;
  text-decoration: none;
  color: #000;
  padding-left: 45px;
}

header nav {
  margin: 25px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-right: 15px;
}

header nav ul li a {
  color: #5fb8b8;
  font-size: 1.5vw;
  text-decoration: underline #5fb8b8 3.5px;
  font-style: bold;
}

/*aesthetic banner */

.ban {
  width: 100%;
  height: 15vw;
}

.avatar {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 35px;
  margin-top: 4vw;
  border: 6px solid #121b2c;
}

.banner h2 {
  position: absolute;
  font-size: 1.5vw;
  color: #000;
  background-color: #5fb8b8;
  padding: 15px;
  left: 84%;
  margin-top: -8vw;
}

.banner {
  width: 100%;
}

  /* About Me styles */
  .me {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .me p {
    display: flex;
    flex-wrap: wrap;
    color: #3f5277;
    font-size: 1.5vw;
    padding-left: 5%;
    margin: 5px 0 15px 0;
    text-align: left;
  }
  

  /* My Work styles */

  .project-title-big {
    position: absolute;
    font-size: 3vw;
    color: #000;
    background-color: #5fb8b8;
    padding: 5px;
    margin-top: 27vw;
    padding-left: 10px;
    padding-right: 10px;
  } 

  .projects {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
  }

  .smaller-work {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.6%;
    flex-basis: 50%;
  }

  .smaller-work button {
  border: none;
  display: flex;
  font-size: 16px;
  height: 100%;
  margin: 1%;
  }

  .work img {
    color: #5fb8b8;
    width: 32vw;
    height: 11.5vw;
    border: 6px solid #5fb8b8;
  }

  .works-big {
    margin: 0 auto;
    padding-left: 0%;
    margin-left: 7%;
    border: 7px solid #5fb8b8;
  }

  .works-big img {
    width: 63.5vw;
    height: 35vw;
  }

  .project-title {
    position: absolute;
    font-size: 1.5vw;
    color: #000;
    background-color: #5fb8b8;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5vw; 
  }


  /* Contact me styles */ 

  .contact-info {
    padding-left: 5vw;
  }

  .contact-info ul {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 60px;
  }

  .contact-info ul li a {
  color: #3f5277;
  font-size: 1.5vw;
  text-decoration: underline #3f5277 5.8px;
  font-style: bold;
  margin: 25px;
  } 

  /* Footer styles */

  .bottom {
    padding-bottom: 10%;
  }

  /* Utilities */

  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }


  /* Media Queries */

  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
      width: 105%;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 25px;
      margin: 10px;
    } 

    .contact-info ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    .contact-info ul li a {
      font-size: 20px;
    } 

    .flex-row p {
      font-size: 2.5vw;
    }

    .avatar {
      margin-top: 2vw;

    }

    .contact-info ul li {
      margin: 10px;
    }

    .banner {
      width: 105%;
    }


}
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    .me {
      font-size: 3vw;
    }

  }

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    .me {
      font-size: 4vw;
    }

  }
